// IMPOSTAZIONI GENERALI
.bg-green{
    background-color: #3F51B5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.example-form {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    background-color: white;

    span{
        text-align: center;
        margin: 10px 0px;
    }

    #error {
        text-align: center;
        margin: 20px 0px;

        p {
            color: red;
        }
    }
}
.none {
    display: none;
}

.example-full-width {
    width: 100%;
}